In [47]:
import requests
from bs4 import BeautifulSoup

r = requests.get("https://www.magicbricks.com/property-for-sale-in-tambaram-west-chennai-pppfs")
c = r.content

soup = BeautifulSoup(c, "html.parser")

all = soup.find_all("div",{"class":"flex relative clearfix m-srp-card__container"})

len(all)

30

In [48]:
list = []
for item in all:
    dict = {}
    try:
        dict["Name of Property"]=item.find_all("div",{"class":"m-srp-card__society"})[0].find("a").text
    except:
         dict["Name of Property"]=None
    try:  
        dict["Price in Lac"]=item.find_all("div",{"class":"m-srp-card__price"})[0].text.replace("Lac","").replace(" ","").replace("₹","")
    except:
           dict["Price in Lac"]=None
    
    try:
        dict["Price/SQFT"]=item.find_all("div",{"class":"m-srp-card__area"})[0].find("span").text.replace(" ","").replace("₹","")
    except:
        dict["Price/SQFT"]=None
    
    try:
        dict["Area in SQFT"]=item.find_all("div",{"class":"m-srp-card__summary__info"})[0].text.replace("sqft","").replace("\xa0","")
    except:
         dict["Area in SQFT"]=None
            
            
    list.append(dict)

In [40]:
list

[{'Area in SQFT': '881',
  'Name of Property': 'VGN Mayfield Park',
  'Price in Lac': '44.9',
  'Price/SQFT': '5100'},
 {'Area in SQFT': '1089',
  'Name of Property': 'LML Prakriti',
  'Price in Lac': '43.5',
  'Price/SQFT': '3990'},
 {'Area in SQFT': '662',
  'Name of Property': 'VGN Mayfield Park',
  'Price in Lac': '33.8',
  'Price/SQFT': '5100'},
 {'Area in SQFT': '350',
  'Name of Property': None,
  'Price in Lac': '41',
  'Price/SQFT': None},
 {'Area in SQFT': '806',
  'Name of Property': None,
  'Price in Lac': '38.7',
  'Price/SQFT': '4800'},
 {'Area in SQFT': '1894',
  'Name of Property': 'KVT Green City',
  'Price in Lac': '75.8',
  'Price/SQFT': '4000'},
 {'Area in SQFT': '1020',
  'Name of Property': 'Marutham Breeze',
  'Price in Lac': '35.6',
  'Price/SQFT': '3490'},
 {'Area in SQFT': '1326',
  'Name of Property': None,
  'Price in Lac': '20.5',
  'Price/SQFT': '1546'},
 {'Area in SQFT': '1248',
  'Name of Property': None,
  'Price in Lac': '19.3',
  'Price/SQFT': '1548'},
 {'Area in SQFT': '900',
  'Name of Property': None,
  'Price in Lac': '33.8',
  'Price/SQFT': '3750'},
 {'Area in SQFT': '1000',
  'Name of Property': None,
  'Price in Lac': '30',
  'Price/SQFT': '3000'},
 {'Area in SQFT': '900',
  'Name of Property': None,
  'Price in Lac': '21.6',
  'Price/SQFT': '2400'},
 {'Area in SQFT': '600',
  'Name of Property': 'LML Prakriti',
  'Price in Lac': '23.9',
  'Price/SQFT': '3990'},
 {'Area in SQFT': '2000',
  'Name of Property': None,
  'Price in Lac': '53.3',
  'Price/SQFT': '2664'},
 {'Area in SQFT': '1334',
  'Name of Property': 'Pace Anusa',
  'Price in Lac': '49.3',
  'Price/SQFT': '3695'},
 {'Area in SQFT': '890',
  'Name of Property': 'LML Prakriti',
  'Price in Lac': '49.6',
  'Price/SQFT': None},
 {'Area in SQFT': '800',
  'Name of Property': None,
  'Price in Lac': '55.1',
  'Price/SQFT': None},
 {'Area in SQFT': '1085',
  'Name of Property': 'Casagrand Ferns',
  'Price in Lac': '43.1',
  'Price/SQFT': '3968'},
 {'Area in SQFT': '4750',
  'Name of Property': None,
  'Price in Lac': '55',
  'Price/SQFT': '1158'},
 {'Area in SQFT': '911',
  'Name of Property': 'VGN Mayfield Park',
  'Price in Lac': '46.5',
  'Price/SQFT': '5100'},
 {'Area in SQFT': '756',
  'Name of Property': 'Pace Anusa',
  'Price in Lac': '30',
  'Price/SQFT': '3968'},
 {'Area in SQFT': '2000',
  'Name of Property': None,
  'Price in Lac': '90',
  'Price/SQFT': None},
 {'Area in SQFT': '2532',
  'Name of Property': None,
  'Price in Lac': '38.3',
  'Price/SQFT': '1512'},
 {'Area in SQFT': '1000',
  'Name of Property': None,
  'Price in Lac': '23',
  'Price/SQFT': '2300'},
 {'Area in SQFT': '770',
  'Name of Property': 'Trinity',
  'Price in Lac': '35',
  'Price/SQFT': '4545'},
 {'Area in SQFT': '1080',
  'Name of Property': None,
  'Price in Lac': '16.5',
  'Price/SQFT': '1528'},
 {'Area in SQFT': '1175',
  'Name of Property': 'Pace Anusa',
  'Price in Lac': '48',
  'Price/SQFT': '4085'},
 {'Area in SQFT': '609',
  'Name of Property': 'Venkata Villas',
  'Price in Lac': '70',
  'Price/SQFT': None},
 {'Area in SQFT': '762',
  'Name of Property': None,
  'Price in Lac': '49.5',
  'Price/SQFT': None},
 {'Area in SQFT': '800',
  'Name of Property': None,
  'Price in Lac': '15',
  'Price/SQFT': '1800'}]

In [49]:
import pandas as pd
df = pd.DataFrame(list)

In [42]:
df

   Area in SQFT   Name of Property Price in Lac Price/SQFT
0           881  VGN Mayfield Park         44.9       5100
1          1089       LML Prakriti         43.5       3990
2           662  VGN Mayfield Park         33.8       5100
3           350               None           41       None
4           806               None         38.7       4800
5          1894     KVT Green City         75.8       4000
6          1020    Marutham Breeze         35.6       3490
7          1326               None         20.5       1546
8          1248               None         19.3       1548
9           900               None         33.8       3750
10         1000               None           30       3000
11          900               None         21.6       2400
12          600       LML Prakriti         23.9       3990
13         2000               None         53.3       2664
14         1334         Pace Anusa         49.3       3695
15          890       LML Prakriti         49.6       None
16          800               None         55.1       None
17         1085    Casagrand Ferns         43.1       3968
18         4750               None           55       1158
19          911  VGN Mayfield Park         46.5       5100
20          756         Pace Anusa           30       3968
21         2000               None           90       None
22         2532               None         38.3       1512
23         1000               None           23       2300
24          770            Trinity           35       4545
25         1080               None         16.5       1528
26         1175         Pace Anusa           48       4085
27          609     Venkata Villas           70       None
28          762               None         49.5       None
29          800               None           15       1800

In [50]:
df.to_csv("The Properties.csv")